* {
    font-family: "Calibri";
}

th {
    background-color: lightgray;
    border: 1px solid black;
}

#paintings {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;

}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}

#information {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    height: 200px;;
    border: 1px solid black;
}

.user {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
}